@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5e1ef;
    text-align: center;
    font-family: "Outfit";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.container {
    max-width: 20rem;
    border-radius: 1rem;
    padding: 1rem 1rem 2.5rem 1rem;
    background-color: #ffffff;
}

.qr-code__image {
    max-width: 100%;
    border-radius: 1rem;
}

.content {
    padding: 0 1rem;
}

.content__title {
    color: #1f314f;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
}

.content__description {
    color: #68778d;
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

.attribution {
    margin: 1rem 0 0 0;
    font-size: 0.7rem;
    text-align: center;
    color: #68778d;
}

.attribution a {
    text-decoration: none;
    color: #1f314f;
    font-weight: 700;

    &:hover {
        text-decoration: underline;
        color: #ec6060;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .container {
        width: 15.6rem;
    }

    .content__title {
        font-size: 18px;
    }

    .content__description {
        font-size: 1.2rem;
    }

    .attribution {
        font-size: 0.6rem;
    }
}

@media (max-width: 320px) {
    .container {
        width: 70vw;
    }

    .content__title {
        font-size: 6vw;
    }

    .content__description {
        font-size: 3.5vw;
    }

    .attribution {
        font-size: 2.5vw;
    }
}